html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  border: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  vertical-align: baseline;
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.5em;
}

body {
  font-family: Sans-serif;
}

div {
  padding: 5px;
  margin: 8px;
}

button {
  cursor: pointer;
}

.weekDays-selector input {
  display: none !important;
}

.weekDays-selector input[type="checkbox"] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type="checkbox"]:checked + label {
  background: #2ad705;
  color: #ffffff;
}

.groups {
  border: solid;
  border-color: gray;
  border-radius: 10px;
}

.group {
  border: solid;
  border-color: green;
  border-radius: 10px;
  background-color: whitesmoke;
}

.clock-adjust {
  border: solid;
  border-color: gray;
  border-radius: 10px;
  background-color: whitesmoke;
}

.alarm-times {
  display: flexbox;
  border: solid;
  border-color: blue;
  border-radius: 10px;
  background-color: white;
}

.button-after {
  display: inline-block;
  margin-right: 2em;
}

#add-group-form {
  border: solid;
  border-color: orange;
  border-radius: 10px;
  padding: 5px;
  margin: 8px;
}

#activate-alarms-btn {
  padding: 5px;
  margin: 8px;
  border: solid;
  border-color: red;
  border-radius: 10px;
  font-size: large;
  color: red;
}

#activate-alarms-btn.dormant {
  padding: 5px;
  margin: 8px;
  border: solid;
  border-radius: 10px;
  border-color: gray;
  font-size: medium;
  color: black;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 1em;
  }
}
